.photo-grid {
  display: grid;
  grid-gap: 16px;
  margin: 92px 48px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin: 89px 24px 0;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .photo-grid {
    margin: 67px 16px;
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }
}