.intro {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 92px;
  margin-left: 148px;
  max-width: 690px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-top: 97px;
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 94px 24px 0;
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 68px 16px 0;
  }
}