.cover__overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  background-image: url('../../../images/cover-trains.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover__overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: all .2s linear;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}