.place__website-url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #AAAAAA;
  align-self: end;
  margin: 0;
  padding-bottom: 12px;
  display: block;
}